NodeRedFlow.json
[
    {
        "id": "8284d1422fe933f4",
        "type": "ui_button",
        "z": "3e50db26e9fc0550",
        "name": "",
        "group": "aeeb9f419668201b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "North Sensor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "North",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "ee8fb5680adcc3f9"
            ]
        ]
    },
    {
        "id": "ee8fb5680adcc3f9",
        "type": "mqtt out",
        "z": "3e50db26e9fc0550",
        "name": "",
        "topic": "VinsonLab17/PostData",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aae1347722cd5841",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "7d2d5c72fb5d642d",
        "type": "ui_button",
        "z": "3e50db26e9fc0550",
        "name": "",
        "group": "aeeb9f419668201b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "East Sensor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "East",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "ee8fb5680adcc3f9"
            ]
        ]
    },
    {
        "id": "13c13e901f23f04b",
        "type": "mqtt in",
        "z": "3e50db26e9fc0550",
        "name": "",
        "topic": "VinsonLab17/GetData",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aae1347722cd5841",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "6b210fba0dfd1983",
                "8c47c21b1059cbc6"
            ]
        ]
    },
    {
        "id": "883a3f605a08ae5a",
        "type": "ui_led",
        "z": "3e50db26e9fc0550",
        "order": 0,
        "group": "9df5147cc5baabe9",
        "width": 0,
        "height": 0,
        "label": "Green",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#00ff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Green",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "4d68908cf4058f71",
        "type": "ui_led",
        "z": "3e50db26e9fc0550",
        "order": 0,
        "group": "9df5147cc5baabe9",
        "width": 0,
        "height": 0,
        "label": "Yellow",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#fbff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Yellow",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "eea84e51793ff84e",
        "type": "ui_led",
        "z": "3e50db26e9fc0550",
        "order": 0,
        "group": "9df5147cc5baabe9",
        "width": 0,
        "height": 0,
        "label": "Red",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Red",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "6b210fba0dfd1983",
        "type": "function",
        "z": "3e50db26e9fc0550",
        "name": "North Light",
        "func": "var northLightConfig = { \"payload\": msg.payload[0]};\nreturn northLightConfig;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "8be1b809855e4f15",
                "4eaae83b87612572",
                "4a1291b62b0db944"
            ]
        ]
    },
    {
        "id": "8c47c21b1059cbc6",
        "type": "function",
        "z": "3e50db26e9fc0550",
        "name": "East Light",
        "func": "var eastLightConfig = { \"payload\": msg.payload[1]};\nreturn eastLightConfig;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "15d1a215d4b4d5bf",
                "3bbcc37814c27b85",
                "f3374addf8ddb181"
            ]
        ]
    },
    {
        "id": "8be1b809855e4f15",
        "type": "function",
        "z": "3e50db26e9fc0550",
        "name": "LEDOutput",
        "func": "var lightIndex = 0;\nvar ledoutput = { \"payload\": msg.payload[lightIndex]};\nreturn ledoutput;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "883a3f605a08ae5a"
            ]
        ]
    },
    {
        "id": "4eaae83b87612572",
        "type": "function",
        "z": "3e50db26e9fc0550",
        "name": "LEDOutput",
        "func": "var lightIndex = 1;\nvar ledoutput = { \"payload\": msg.payload[lightIndex]};\nreturn ledoutput;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 360,
        "wires": [
            [
                "4d68908cf4058f71"
            ]
        ]
    },
    {
        "id": "4a1291b62b0db944",
        "type": "function",
        "z": "3e50db26e9fc0550",
        "name": "LEDOutput",
        "func": "var lightIndex = 2;\nvar ledoutput = { \"payload\": msg.payload[lightIndex]};\nreturn ledoutput;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "eea84e51793ff84e"
            ]
        ]
    },
    {
        "id": "a684895b9bfabd07",
        "type": "ui_led",
        "z": "3e50db26e9fc0550",
        "order": 0,
        "group": "d345469f99ae4d8b",
        "width": 0,
        "height": 0,
        "label": "Green",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#00ff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Green",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "7c07cc32f914f419",
        "type": "ui_led",
        "z": "3e50db26e9fc0550",
        "order": 0,
        "group": "d345469f99ae4d8b",
        "width": 0,
        "height": 0,
        "label": "Yellow",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#fbff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Yellow",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "90f34d5bbfea79ac",
        "type": "ui_led",
        "z": "3e50db26e9fc0550",
        "order": 0,
        "group": "d345469f99ae4d8b",
        "width": 0,
        "height": 0,
        "label": "Red",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Red",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "15d1a215d4b4d5bf",
        "type": "function",
        "z": "3e50db26e9fc0550",
        "name": "LEDOutput",
        "func": "var lightIndex = 0;\nvar ledoutput = { \"payload\": msg.payload[lightIndex]};\nreturn ledoutput;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 480,
        "wires": [
            [
                "a684895b9bfabd07"
            ]
        ]
    },
    {
        "id": "3bbcc37814c27b85",
        "type": "function",
        "z": "3e50db26e9fc0550",
        "name": "LEDOutput",
        "func": "var lightIndex = 1;\nvar ledoutput = { \"payload\": msg.payload[lightIndex]};\nreturn ledoutput;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 520,
        "wires": [
            [
                "7c07cc32f914f419"
            ]
        ]
    },
    {
        "id": "f3374addf8ddb181",
        "type": "function",
        "z": "3e50db26e9fc0550",
        "name": "LEDOutput",
        "func": "var lightIndex = 2;\nvar ledoutput = { \"payload\": msg.payload[lightIndex]};\nreturn ledoutput;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 560,
        "wires": [
            [
                "90f34d5bbfea79ac"
            ]
        ]
    },
    {
        "id": "aeeb9f419668201b",
        "type": "ui_group",
        "name": "Car Sensors",
        "tab": "ea867fc0a84eeb8c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aae1347722cd5841",
        "type": "mqtt-broker",
        "name": "WCL",
        "broker": "lab.thewcl.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9df5147cc5baabe9",
        "type": "ui_group",
        "name": "North Traffic Light",
        "tab": "ea867fc0a84eeb8c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d345469f99ae4d8b",
        "type": "ui_group",
        "name": "East Traffic Light",
        "tab": "ea867fc0a84eeb8c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea867fc0a84eeb8c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
